@use 'reset';
@use 'var';

.info{
    padding: 20px 0;
    &__content{
        &__item{
            display: flex;
            justify-content: space-between;

            &__itens{
                h2{
                    font-size: 30px;
                    font-weight: normal;
                }

                p{
                    font-size: 18px;
                    font-weight: 300;
                }
            }
        }
    }
}